$backgd : #f9f9f9;  		/* background color (nice gray) */
$lred		:	#ffc4c3;
$lgrey	:	#e8e8e8;
$mred  	: #8F1616;   	/* medium red */
$bred  	: #731C1C;   	/* bold red */
$lblue 	: #ECF5F5;			/* light Blue */
$mblue	:	#c3edf0;
$bblue 	: #6589B0;			/* bold Blue */
$lblack : #eeeeee;   	/* light black */

$mblack : #333333;   	/* medium black */
$bblack : #222222;			/* bold black */
$lyellow: #FFF89F;			/* light yellow  */
$myellow: #E7E089;			/* medium yellow  */
$byellow: #D5D062;			/* bold yellow  */
$fd_lred: #B34642;
$fd_red : #902220;
$fd_yellow: #f6e574;
$fd_bleu: #569eaf;
$fd_black : #ccc; 
$grey: 	#ddd;
$fd_orange: #FBAE56;
$fd_bgreen:	#62b058;
$fd_lgreen:	#cfffd4;

