$backgd : #f9f9f9;  		/* background color (nice gray) */
$mred  	: #8F1616;   	/* medium red */
$bred  	: #731C1C;   	/* bold red */
$lblue 	: #ECF5F5;			/* light Blue */
$mblue 	: #6589B0;			/* medium Blue */
$lblack : #eeeeee;   	/* light black */
$mblack : #333333;   	/* medium black */
$bblack : #222222;			/* bold black */
$lyellow: #E7E089;			/* light yellow  */
$myellow: #D5D062;			/* bold yellow  */
$fd_red : #902220;
$fd_yellow: #f6e574;
$fd_bleu: #569eaf;


