<span class="fd_admin_action"> 
  <div class="fd_admin_action_content">
	  <ul class="fd_actions_menu_items">
	    <li class="fd_edit_action"></li>
	    <li class="fd_delete_action"></li>
	    <li class="fd_lock_action"></li>
	  </ul>
  </div>	
</span>
