.fd-audio-player
  .player
    %object#gsSong2819762766{:classid => "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", :height => "40", :name => "gsSong2819762766", :width => "270"}
      %param{:name => "movie", :value => "http://grooveshark.com/songWidget.swf"}/
      %param{:name => "wmode", :value => "window"}/
      %param{:name => "allowScriptAccess", :value => "always"}/
      %param{:name => "flashvars", :value => "hostname=cowbell.grooveshark.com&songIDs=28197627&style=metal&p=0"}/
      %object{:data => "http://grooveshark.com/songWidget.swf", :height => "40", :type => "application/x-shockwave-flash", :width => "270"}
        %param{:name => "wmode", :value => "window"}/
        %param{:name => "allowScriptAccess", :value => "always"}/
        %param{:name => "flashvars", :value => "hostname=cowbell.grooveshark.com&songIDs=28197627&style=metal&p=0"}/
        %span
          I Just Had Sex feat Akon by
          %a{:href => "http://grooveshark.com/artist/The+Lonely+Island/465312", :title => "The Lonely Island"} The Lonely Island
          on Grooveshark
