
<div class="fd-audio-player">
	<div class="player">
		<object width="270" height="40"> 
			<param name="movie" value="http://listen.grooveshark.com/songWidget.swf" /> 
			<param name="wmode" value="window" /> 
			<param name="allowScriptAccess" value="always" /> 
			<param name="flashvars" value="hostname=cowbell.grooveshark.com&widgetID=25083069&style=metal&p=0" /> 
			<embed src="http://listen.grooveshark.com/songWidget.swf" type="application/x-shockwave-flash" 
				width="270" height="40" flashvars="hostname=cowbell.grooveshark.com&widgetID=25083069&style=metal&p=0" allowScriptAccess="always" wmode="window" />
		</object>
	</div>
</div>
