<div id=""  class="fd-ui-tl-item-ct-el full-bg">

	<i class="icon-tasks slot-label"></i>

	<select name="" multiple class="entry-category-slot" >
		<option value="java">Javascrips</option>
		<option value="rails">Rails</option>
		<option value="dnet">.NET Framework</option>
		<option value="as3">ActionScript 3</option>
		option
	</select>
</div>	