.fd-ui-tl-item-ct-el.full-bg{:id => ""}
  %i.icon-tasks.slot-label
  %select.entry-category-slot{:multiple => "", :name => ""}
    %option{:value => "java"} Javascrips
    %option{:value => "rails"} Rails
    %option{:value => "dnet"} .NET Framework
    %option{:value => "as3"} ActionScript 3
    option
