
<p class="alert-message block-message info">Vous devez être logguer pour commenter</p>
<%= simple_form_for ""  do |f| %>
<section class="fd_comment_form">
  <%= f.input :comment, :label => false, :as=> :text, 
        :input_html => {:class=>"comment_form"},
        :placeholder => "Entrer votre commentaire ici ...", 
        :wrapper_html => { :class => 'fd_comment_form_input'} %>
  <div class ="well margin-top-20">
    <a href="#sign_in_form" class="btn danger space_right-1">partager</a>
    <input type="submit" class="btn primary  space_right-1" value="effacer">
  </div>
</section>
<% end %>


