.fd-ui-tl-item-ct-el.full-bg{:id => ""}
  %input.full{:name => "", :placeholder => "Enter your comment here ...", :type => "text", :value => ""}/
.fd-ui-tl-item-ct-el.full-bg{:id => ""}
  %ol.fd-ui-comments{:id => ""}
    - 3.times do
      %li.cmt
        .cmt-avt
          %span.fd-utils-avatar.small.default{:style => "background-image:url(#{asset_path("ui/fd-ui-ux-sprite.png");})"}
        .cmt-ct
          .cmt-ct-txt
            %p
              %a.cmt-user{:href => ""}>
                Chris Brown
                %span.arrow →
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
          .cmt-ct-ft
            %span.cmt-time Il y a 25 minutes | 21h15
        %span.clear
        %ol.cmt-reply
          - 3.times do
            %li
              .cmt-avt
                %span.fd-utils-avatar.small.default{:style => "background-image:url(#{asset_path("ui/fd-ui-ux-sprite.png");})"}
              .cmt-ct
                .cmt-ct-txt
                  %p
                    %a.cmt-user{:href => ""}>
                      Chris Brown
                      %span.arrow →
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                .cmt-ct-ft
                  %span.cmt-time Il y a 25 minutes | 21h15
