.fd-ui-tl-item-ct-el.full-bg{:id => ""}
  .liking
    .f-r.likes
      %i.fd-ui-icons.icon-heart.fd-ui-btn.like
      %span.likes-count 125
    .likers.f-r
      %span.fd-utils-avatar.small.default{:style => "background-image:url(#{asset_path("ui/fd-ui-ux-sprite.png");})"}
      %span.fd-utils-avatar.small.default{:style => "background-image:url(#{asset_path("ui/fd-ui-ux-sprite.png");})"}
      %span.fd-utils-avatar.small.default{:style => "background-image:url(#{asset_path("ui/fd-ui-ux-sprite.png");})"}
