<div id=""  class="fd-ui-tl-item-ct-el full-bg">
	<div class="liking">
		<div class="f-r likes">
			<i class="fd-ui-icons icon-heart fd-ui-btn like"></i><span class="likes-count">125</span>
		</div>
		<div class="likers f-r">
			<span class="fd-utils-avatar small default" style="background-image:url(<%= asset_path("ui/fd-ui-ux-sprite.png"); %>)"></span>
			<span class="fd-utils-avatar small default" style="background-image:url(<%= asset_path("ui/fd-ui-ux-sprite.png"); %>)"></span>
			<span class="fd-utils-avatar small default" style="background-image:url(<%= asset_path("ui/fd-ui-ux-sprite.png"); %>)"></span>
		</div>

	</div>
</div>