<div id="gritter-notice-wrapper">
  <div style="" class=" error gritter-item-wrapper my-sticky-class" id="gritter-item-4">
    <span class="icon"></span>
    <span class="close"></span>
		<div class="gritter-top"></div>
		<div class="gritter-item">
			<div class="gritter-without-image">
        <p>Consectetur adipiscing elit. Vivamus eget tincidunt velits.</p>
			</div>
			<span class="clear"></span>
		</div>
		<div class="gritter-bottom"></div>
	</div>


	<div style="" class="saved gritter-item-wrapper my-sticky-class" id="gritter-item-4">
    <span class="icon"></span>
    <span class="close"></span>
		<div class="gritter-top"></div>
		<div class="gritter-item">
			<div class="gritter-without-image">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget tincidunt velits.</p>
			</div>
			<span class="clear"></span>
		</div>
		<div class="gritter-bottom"></div>
	</div>



	<div style="" class="success gritter-item-wrapper my-sticky-class" id="gritter-item-4">
    <span class="icon"></span>
    <span class="close"></span>
		<div class="gritter-top"></div>
		<div class="gritter-item">
			<div class="gritter-without-image">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget tincidunt velits.</p>
			</div>
			<span class="clear"></span>
		</div>
		<div class="gritter-bottom"></div>
	</div>



	<div style="" class="warning gritter-item-wrapper my-sticky-class" id="gritter-item-4">
    <span class="icon"></span>
    <span class="close"></span>
		<div class="gritter-top"></div>
		<div class="gritter-item">
			<div class="gritter-without-image">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget tincidunt velits.</p>
			</div>
			<span class="clear"></span>
		</div>
		<div class="gritter-bottom"></div>
  </div>

</div>
