<div class="modal" id="myModal">
  <div class="modal-header">
    <i class="icon window"></i>
    <button class="close" data-dismiss="modal">×</button>
    <h3>Notifications (3)</h3>
  </div>
  <div class="modal-body">
    <div id="" class="fd-ui-flash-msg warning">
      <i class="flash-icon"><img src="<%= asset_path("ui/loader.gif"); %>" alt=""></i><p>You must login to comment this post!</p>
      <i class="flash-close">×</i>
    </div>
    <div id="" class="fd-ui-flash-msg errors">
      <i class="flash-icon"><img src="<%= asset_path("ui/loader.gif"); %>" alt=""></i><p>You must login to comment this post!</p>
      <i class="flash-close">×</i>
    </div>
    <div id="" class="fd-ui-flash-msg success">
      <i class="flash-icon"><img src="<%= asset_path("ui/loader.gif"); %>" alt=""></i><p>You must login to comment this post!</p>
      <i class="flash-close">×</i>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn primary">Close</a>
    <a href="#" class="btn danger">Save changes</a>
  </div>
</div>
<div class="overlay"></div>