<nav class="fd_pgb ">
  <ul class="fd_pgb_content">
    <li>
      <span class="fd_pgb_left disabled"></span>
    </li>
    <li>
      <span class="fd_pgb_right enabled"></span>
    </li>
  </ul>
</nav>
