 <ul class="fd-ui-list">
  <li class="fd-ui-list-item grippy">Rapide: inscrivez-vous (ou connectez-vous) & démarrez <span class="switches on"></span></li>
  <li class="fd-ui-list-item grippy">Efficace: une méthode scientifique <span class="switches off"></span></li>
  <li class="fd-ui-list-item grippy">Gratuit: Des centaines de leçons disponibles <span class="switches off"></span></li>
</ul>
