<span class="clear"></span>
<div class="fd_dashboard_stats">
	<ul>
		<li>
			<span class="stats_number">23</span>
			<span class="stats_title">Quizz</span>
		</li>
		<li>
			<span class="stats_number">17</span>
			<span class="stats_title">Tutoriels</span>
		</li>
		<li>
			<span class="stats_number">56</span>
			<span class="stats_title">Duels</span>
		</li>
	</ul>
</div>