<div id=""  class="fd-ui-tl-item-ct-el full-bg">
  <div class="entry-type-choice-slot">
  	<ul>
  		<% Type.all.each do |type| %>
  		<li>
  			<label for="entry_type_<%= type.id %>"  class="choice-label <%= type.name %> "></label>
  			<%= f.radio_button  :type_id, type.id, class: "type-input-choice" %>
  		</li>
  		<% end %>
  	</ul>
  	<span class="clear"></span>
  </div>
</div> 
