
/* Imports
=================================== */
	/* Compass frameworks  */
	@import "partials/base";

	/*  Colors Themes   */
	@import "partials/colors";

	/* Bootstrap */
	@import "lib/bootstrap";
	
	// Default style 
	a { 
    color:$fd_red;
	  text-decoration:none;
	  &:hover {
	    color:$bred;  	
      text-decoration:none;
	  }
	}
	
	* {
	  //p { color: $lblack;}
		font-family: $basic_fonts;
	}
/* App Stylesheet
=================================== */

	/*  Header > 
	--------------------------------- */
	#header {
	
	  // ====== menu_nav_bar =========
	  #menu_nav_bar {
	    margin-top:20px;
	  	.tabs-content { margin: 0; display: block; }
			.tabs-content div.row { display:none; }
			.tabs-content div.row.active { display: block; }
	  	.tabs-content {
	  		background-color:#902220;
				height:35px;
				
				.tabs-content-list {
				
					li {
					  list-style:none;
					  float:left;
					  a {
					    //@include border-radius(2px);
							//background:none repeat scroll 0 0 #802727;
							//border:1px solid #A63434;
							color:#FFFFFF;
							cursor:pointer;
							display:block;
							font-size:12px;
							height:25px;
							line-height:23px;
							margin:6px 5px 0 0;
							padding:0 15px 0 0;
							text-shadow:0 1px 0 #222222;
							text-decoration:none;
					  	&:hover {
					  	  //@include box-shadow(0 0 7px -1px #470606 inset);
								background:none;
								color:#FFFFFF;
								
					  	}
					  	&:after {
					  	  padding-left:20px;
					  		content: "☆";
					  	}
						}
					}
				}
	  	}
	  }
	
		// ====== fd_header_content  =======		
		#fd_user_status {
		 
		  .welcome_user { 
				font-size:12px;
				background-color:#fff;
				border-left:1px solid #ccc;
				border-top:1px solid #ccc;
				border-bottom:1px solid #ccc;
				float: right;
		    @include border-radius(2px 0 0 2px);
				height: 19px;
        margin: -1px 3px 0 0;
        padding: 2px 21px 8px;
				  
				}
		
			ul,li {
				list-style:none;  
			}
			
			li {
			  position:relative;
			  
			  .fd_credit {
			    display: block;
					float: right;
					position: absolute;
					right: 9px;
					top: 39px;
					z-index: 3;
					padding:0 0 0 15px;
			  }
			}  
			  			
			.avatar {
			background-color:#fff;
			  float: right;
				position: relative;
				border: 1px solid #ccc;
				padding: 2px;
				@include box-shadow(0 0 0.6px 3px #e0e0e0);
				img {
				  text-align:center;
				  background:#fff;
					
				}
			}
		}
		// ====== fd_header_content  =======		
		.fd_header_content { background-color: #f7f7f7;padding:0px;}	
		
		// ====== topbar  =======
		.topbar {
	
			ul {
			  margin:0;
			}
			
			ul.nav {
			  float:right;	
			  height:38px;
			  
			  li { 
			  
			    a {
			    	color:#AAAAAA;
			      font-weight:bold;
			      font-size: $small_font;
			    }
			    a:hover {
			      color:#fff;
			    }
			  }
			  
			  li.open a {
			  	text-shadow:0 2px 0 #000000;
			  	color:#fff;
			  }
			  
			  .menu .menu-dropdown {
			    left:-78px;
					top:38px;
					opacity: 0.95;
				
			  	li a {
					  font-weight:bold;
					  font-size: 11px;
						line-height:19px;
						padding:5px 10px;
						margin: 5px 0px;
						color:#aaa;
						text-shadow:none;
					}
					
					li a:hover {
			      color:#fff;
			    }
			  }
			}
		}
		
		// ====== logo  =======
		.fd_centerBar {
		  margin-top:70px;
		  
		  .fd_logo {background: url("../images/main_logo.png") no-repeat scroll 0 0 transparent;display: block;height: 65px;}
      #fd_user_status {
         margin: 0 0 0 35px;
        min-height: 90px;
      }
		}
		
		
	} 
	
	
	/*  Content > 
  --------------------------------- */
  #content {
  	margin-top:20px;
  }
  
  
  // SIDEBAR
  // ------------
  .fd_sidebar {
  	margin:7px 0 0 10px;
  }
  
  //  FD_TUTS
  // -------------
  
	.fd_tuts {
	  list-style:none;
	  margin:0;
	  padding:0;
	  li {
	    border-bottom:1px dashed #E3E3E3;
			padding:20px 0 15px;
			&:last-child {
			  border-bottom:none;
			}
	  }
	}


	.fd_tut {
	 	
	 	&:hover  {
	 	  .fd_tut_go {
		 	  background-image:url("../images/fd-ui-icons.png");
		 	  background-repeat: no-repeat;
		 	  background-position: -96px -158px;
				bottom:0;
				cursor:pointer;
				display:block;
				height:50px;
				position:absolute;
				right:0;
				width:29px;
				z-index:2;
			
				&:hover {
					//background:url("../images/fd-ui-icons.png") no-repeat scroll -96px -158px transparent;
				}
			}
	 	}
	 	position:relative;
	 	margin-left:-22px;
		.fd_tut_header {
		  height:115px;
		  .fd_tut_image {
		    //position:relative;
		    margin:0;
		    height:100px;
		    a { 
		      background-color:$lyellow;
		      @include box-shadow(0 0 0 3px #FFFFFF inset);
					border:1px solid #CCCCCC;
					display:block;
					height:100px;
					padding:5px;
					text-decoration:none;
					width:150px;
					
					
		    }
		    .fd_tut_info_done {
		      background:url("../images/fd-ui-icons.png") no-repeat scroll -203px 0 transparent;
					height:25px;					
					margin:5px 0 0;
					position:absolute;
					left:25px;
					width:68px;
		    }
		    
		    .fd_tut_info_mark {
					bottom:35px;
					float:left;
					left:5px;
					position:relative;
					.large-bande {
					  padding: 0 10px 0 5px;
					}
					.large-corner-right {
						margin:0 0 0 0;
				    width:16px;
					}
		
				}
				.fd_tut_info_time {
					bottom:30px;
					float:right;
					right:3px;
					position:relative;	
					.small-bande {
					  padding-left:0;	
					  padding-right:10px;						
					}	
				}
		  }
		  
		}
		.fd_tut_content {
		  .fd_tut_title {
				a {
				  text-shadow:0 1px 0 #222222;
				}
			}
			.fd_tut_subtitle {
				margin:10px 0;
				display:block;
		    .fd_tut_date {
		    	text-transform:lowercase;
		    	margin:0 20px;
		    	font-size:$basefont;
		    	font-style:italic;
		    	&:before {
		    	  padding-right:15px;
		    		content: "☆";
		    	}
		    }
			}
			.fd_tut_video {
			  margin: 25px 0 0 0;
			}
		}
  }

  .fd_tut_show {
    @extend .fd_tut;  
    li { padding:0;}
    .fd_tut_header {
      height:80px;
      .fd_tut_image {
        background:none;
        .fd_tut_info_mark {
          top:0; 
        }
        .fd_tut_info_title {
          h3 {
            background: none repeat scroll 0 0 transparent;
            border-bottom: 4px solid #EEEEEE;
            margin: 0 0 5px;
            padding: 0 0 0 80px;
            text-shadow: 0 1px 0 #000000;
            line-height:34px;
            /*font-family:ff-nuvo-web-pro !important;*/
          }
          h7 {
				    margin:10px 0;
				    display:block;
		        .fd_tut_date {
		        	text-transform:lowercase;
		        	margin:0 20px;
		        	font-size:$basefont;
		        	font-style:italic;
		        	&:before {
		        	  padding-right:15px;
		        		content: "☆";
		        	}
            }
          }
        }
      }
    }
  } 
	
	
	/*  Footer >  
	--------------------------------- */

#footer {
  padding:10px 0 0;
  border-top: 4px solid #E5E2A6;
  margin: 10px auto 0; 
  position:relative;
  ul {
    margin:0;
  }
  li  {
    list-style:none;	
    color:#666666;
    font-size:10px;	
    font-weight:bold;
    line-height:40px;
    text-transform:uppercase; 
    float:left;
    &:first-child {
      &:before {
         content:" ";
         padding:0;  
      }
    }
    &:before {
      padding:0 10px 0 15px;
      content: "☆";
    }
    a {
      color: #666;
      font-size: 10px;
      line-height: 40px;
      padding: 0 5px;
      text-transform: uppercase;
      
      &:hover {
        color: $bblack;
      }
    }  
  }
  p {
    color:#666666;
    font-size:10px;
    font-weight:bold;
    text-transform:uppercase;
    border : 1px solid #ddd;
    background-color:#eee; 
    margin: 3px 0 0;
    padding: 4px 14px 1px;
    position :absolute;
    right:0;
    @include border-radius(2px);
    span {
      
    }
  }	
  
  .html5 {
	  margin: -14px 0 0;
  }
}

