<%= form_for(@tut) do |f| %>
  <% if @tut.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tut.errors.count, "error") %> prohibited this tut from being saved:</h2>

      <ul>
      <% @tut.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
