<li>
  <article class="fd_tut row intermediate">
    <div class="fd_tut_header span3">
      <span class="fd_tut_image">
        <a href="#" style="url(../images/fd_df_image.jpg) repeat scroll center 0 transparent"></a>
        <span class="fd_tut_info_mark">
          <span class="red large-bande">+50</span>
          <span class="red large-corner-right"></span>
        </span>
        <span class="fd_tut_info_time">
          <span class="black small-corner-left"></span>
          <span class="black small-bande">15:40</span>
        </span>
      </span>
      
    </div>
    <div class="fd_tut_content span7">
      <hgroup>
        <h3 class="fd_tut_title"><a href="#">GOOGLE Gmail</a></h3>
        <h6 class="fd_tut_subtitlte"><span class="label notice">Mobile</span><span class="label hard lowercase"> iOS</span></h6>
      </hgroup>
      <div class="fd_tut_summary">
        <p>
          Gmail repose sur l'idée que la messagerie peut être 
          intuitive, efficace et utile. Peut-être même amusante... 
          Après tout, Gmail offre
        </p>
      </div>
    </div>
    <div class="fd_tut_footer">
    </div>
  </article>
   <span class="clear"></span>
</li>

<li>
  <article class="fd_tut row beginner">
    <div class="fd_tut_header span3">
      <span class="fd_tut_image">
        <a href="#" style="url(../images/fd_df_image.jpg) repeat scroll center 0 transparent"></a>
        <span class="fd_tut_info_mark">
          <span class="red large-bande">+50</span>
          <span class="red large-corner-right"></span>
        </span>
        <span class="fd_tut_info_time">
          <span class="black small-corner-left"></span>
          <span class="black small-bande">15:40</span>
        </span>
      </span>
      
    </div>
    <div class="fd_tut_content span7">
      <hgroup>
        <h3 class="fd_tut_title"><a href="#">Using javascript with Bootstrap</a></h3>
        <h6 class="fd_tut_subtitlte"><span class="label notice">Mobile</span><span class="label hard lowercase"> iOS</span></h6>
      </hgroup>
      <div class="fd_tut_summary">
        <p>
          Gmail repose sur l'idée que la messagerie peut être 
          intuitive, efficace et utile. Peut-être même amusante... 
          Après tout, Gmail offre
        </p>
      </div>
    </div>
    <div class="fd_tut_footer">
    </div>
  </article>
   <span class="clear"></span>
</li>

<li>
  <article class="fd_tut row advanced">
    <div class="fd_tut_header span3">
      <span class="fd_tut_image">
        <a href="#" style="url(../images/fd_df_image.jpg) repeat scroll center 0 transparent"></a>
        <span class="fd_tut_info_mark">
          <span class="red large-bande">+50</span>
          <span class="red large-corner-right"></span>
        </span>
        <span class="fd_tut_info_time">
          <span class="black small-corner-left"></span>
          <span class="black small-bande">15:40</span>
        </span>
      </span>
      
    </div>
    <div class="fd_tut_content span7">
      <hgroup>
        <h3 class="fd_tut_title"><a href="#">GOOGLE Gmail</a></h3>
        <h6 class="fd_tut_subtitlte"><span class="label notice">Mobile</span><span class="label hard lowercase"> iOS</span></h6>
      </hgroup>
      <div class="fd_tut_summary">
        <p>
          Gmail repose sur l'idée que la messagerie peut être 
          intuitive, efficace et utile. Peut-être même amusante... 
          Après tout, Gmail offre
        </p>
      </div>
    </div>
    <div class="fd_tut_footer">
    </div>
  </article>
   <span class="clear"></span>
</li>
