/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require utils
 *= require bootstrap_and_overrides 
*/

@import "settings";

* { font-size-adjust: 0.57;  }


// =======================
// HEADER
// =======================

#header.fd-ui-ct-header {
	background: $fd-ui-bg-img-lgry transparent;
  border-bottom: 4px solid #EEEEEE;
  display: block;
  height: 126px;
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 1;

  #logo {
		background: image-url("ui/fd-ui-ux-sprite.png") left 0 no-repeat transparent;
    float: left;
    height: 60px;
    overflow: hidden;
    position: relative;
    top: 25px;
    width: 310px;
	}

	#hire-me {
		background: image-url("ui/fd-ui-ux-sprite.png") right -124px no-repeat transparent;
    height: 126px;
    overflow: hidden;
    width: 370px;
    float:right;
    &:hover {
    	background: image-url("ui/fd-ui-ux-sprite.png") right -262px no-repeat transparent;
    }
	}
}


// =======================
// CONTENT
// =======================


#sidebar {
	//position:fixed;
	//left:0;
	height:100%;
	ul.sidebar-menu { 
		background: $fd-ui-bg-img-red transparent; 
		width: 230px;
		list-style: none;
		margin:0;
		height:100%;
	}

	li {
		background-color: $fd-ui-ly-col-red;
		
		a {
			display: block;
			padding: 8px 20px;
			color: #fff;
			.icon-plus {
				opacity:0.5;
			}
		}
		ul.sidebar-submenu {
			margin:0;
			li {
				background-color: $fd-ui-al-col-lred;
				a {
					color: $linkColor;
					cursor: pointer;
					display:block;
				}
				&:hover {
					background-color: #EBB4B4;
				}
			}
		}
	}
	li:hover {
		background-color: $fd-ui-ly-col-red;
		a {
			.icon-plus {
				opacity:0.99;
			}
		}
	}
}

#sidebar_infos {
	height:100%;
	background: $fd-ui-bg-img-blk transparent; 
}

#content {
	margin-left: 180px;	
}

// =======================
// FOOTER
// =======================

#footer {

}

.fd-ui-container {
	#fd-ui-sidebar-left {
		display: block;
    position: fixed;
    width: 230px;
    left:0;
    height:100%;
    top: 170px;
	}
	#fd-ui-center {
		float: left;
    margin-left: 230px;
    position: relative;
    top: 112px;
    width: 800px;
	}
	#fd-ui-sidebar-right1 {
		border-left: 1px solid #787373;
    border-right: 1px solid #111111;
    box-shadow: -1px 0 0 #000000;
    display: block;
    float: right;
    height: 100%;
    position: fixed;
    right: 320px;
    width: 320px;
	}
	#fd-ui-sidebar-right2 {
		border-left: 1px solid #3A3A3A;
    display: block;
    float: right;
    height: 100%;
    position: fixed;
    right: -1px;
    width: 320px;
	}
}