// ==========================
// SETTINGS
// ==========================


// Default colors
// ---------------

// layout color
$fd-ui-ly-col-blk: #333333;
$fd-ui-ly-col-red: #871E1C;
$fd-ui-ly-col-yel: #FFFDCE;
$fd-ui-ly-col-blu: #1C6677;
$fd-ui-ly-col-org: #E39A00;

// font & text color
$fd-ui-ft-col-blk1: #111111;
$fd-ui-ft-col-blk2: #333333;
$fd-ui-ft-col-blk3: #B4B4B4;
$fd-ui-ft-col-blk4: #E9E9E9;
$fd-ui-ft-col-blk5: #F6F6F6;

// alert messages color
$fd-ui-ft-col-lred: #FFD0D0;
$fd-ui-ft-col-bgrn: #4F8E50;
$fd-ui-ft-col-lgrn: #CBEEB8;
$fd-ui-ft-col-btwt: #45B0E3;
$fd-ui-ft-col-ltwt: #E6F2F8;


// BOOTSTRAP
// ----------


// Set the correct sprite paths



// 


// Scaffolding
$bodyBackground $textColor

// Links
$linkColor 					: $fd-ui-ly-col-red;
//$linkColorHover 	:;

// Colors
//$blue 			:;
//$green 			:;
//$red 				:;
//$yellow 		:;
//$orange 		:;
//$pink 			:;
//$purple 		:;

// Sprites
$iconSpritePath 			: image-path('glyphicons-halflings.png');
$iconWhiteSpritePath	: image-path('glyphicons-halflings-white.png');

// Grid system
//$gridColumns 				:;
//$gridColumnWidth		:;		 
//$gridGutterWidth		:;

// Fluid grid system
//$fluidGridColumnWidth :;
//$fluidGridGutterWidth :;

// Typography
//$baseFontSize 				:;
//$baseFontFamily				:;
//$baseLineHeight 			:;
//$altFontFamily 				:;
//$headingsFontFamily 	:;	
//$headingsFontWeight 	:;
//$headingsColor 				:;
//$heroUnitBackground 	:;
//$heroUnitHeadingColor :;
//$heroUnitLeadColor		:;

// Tables
//$tableBackground 				:;
//$tableBackgroundAccent 	:;	
//$tableBackgroundHover 	:;	
//$tableBorder						:;

// Navbar
//$navbarHeight 								:;	
//$navbarBackground 						:;
//$navbarBackgroundHighlight 		:;	
//$navbarText $navbarLinkColor 	:;	
//$navbarLinkColorHover 				:;
//$navbarLinkColorActive 				:;
//$navbarLinkBackgroundHover 		:;	
//$navbarLinkBackgroundActive 	:;	
//$navbarSearchBackground 			:;	
//$navbarSearchBackgroundFocus 	:;		
//$navbarSearchBorder 					:;	
//$navbarSearchPlaceholderColor	:;

// Dropdowns
//$dropdownBackground					: ;	
//$dropdownBorder							: ;	
//$dropdownLinkColor					: ;	
//$dropdownLinkColorHover			: ;	

// Forms
//$placeholderText 								:;		
//$inputBackground 								:;	
//$inputBorder 										:;		
//$inputDisabledBackground 				:;	
//$btnPrimaryBackground 					:;	
//$btnPrimaryBackgroundHighlight	:;		

// Form states & alerts
//$warningText 				:;
//$warningBackground 	:;	
//$errorText 					:;
//$errorBackground 		:;	
//$successText 				:;	
//$successBackground 	:;			
//$infoText 					:;
//$infoBackground			:;	
