// ==========================
// UTILS
// ==========================


// Margin & padding 
//------------------

.no {
	&.m {
		margin: 			0px !important;
	}
	&.ml {
		margin-left: 	0px !important;
	}
	&.mr {
		margin-right: 0px !important;
	}
	&.md {
		margin-down: 	0px !important;
	}
	&.mu {
		margin-up: 		0px !important;
	}

	&.p {
		padding: 			0px !important;
	}
	&.pl {
		padding-left: 	0px !important;
	}
	&.pr {
		padding-right: 0px !important;
	}
	&.pd {
		padding-down: 	0px !important;
	}
	&.pt {
		padding-top: 		0px !important;
	}
}

.pd-20 {
	padding: 20px !important;
}
.pd-10-20 {
	padding: 10px 20px;
}
.pd-10-20-b {
	padding: 10px 20px !important;
}
.pd-40 {
	padding: 40px !important;
}
.pd-10 {
	padding: 10px !important;
}


// divider
.fd-divider-common {
	clear:both;
	display: block;	
}
.fd-divider-bottom {
	border-bottom: 1px solid $fd-ui-ly-col-gry;
	@include box-shadow(0 1px 0 0 $white);
	@extend .fd-divider-common;
}
.fd-divider-top {
	border-top: 1px solid $fd-ui-ly-col-gry;
	@include box-shadow(0 -1px 0 0 $white);
	@extend .fd-divider-common;
}

.fd-ui-icons {
	background:transparent $fd-ui-bg-sprite no-repeat !important;
	display:block;
	@extend .icon-size;
	&.fd-ui-btn {
		cursor:pointer;
	}
	&.icon-size {
		width:24px;
		height:24px;
	}
	&.icon-more {
		background-position: -125px -723px  !important;
    @extend .icon-size;
    &:hover {
    	background-position: -125px -747px !important;
    }
	}
	&.icon-clip {
		background-position: -15px -723px !important ;//-86px -173px !important;
    @extend .icon-size;
    &:hover {
    	background-position: -15px -744px !important;
    }
	}
	&.icon-heart {
		background-position: -182px -723px !important ;//-86px -173px !important;
    @extend .icon-size;
    &:hover {
    	background-position: -182px -748px !important;
    }
    &.like {
    	background-position: -182px -748px !important;	
    }
	}
	&.icon-star {
		background-position: -239px -723px !important ;//-86px -173px !important;
    @extend .icon-size;
    &:hover {
    	background-position: -239px -748px !important;
    }
	}
	&.icon-reply {
		background-position: -15px -723px !important ;//-86px -173px !important;
    @extend .icon-size;
    &:hover {
    	background-position: -15px -744px !important;
    }
	}
	&.icon-share {
		background-position: -353px -725px !important ;//-86px -173px !important;
    @extend .icon-size;
    &:hover {
    	background-position: -354px -747px !important;
    }
	}
}

.end {
	margin:0;
}



// FLOATING

.f-l {
	float:left;
}
.f-r {
	float:right;
}

// SOCIALS 

.fd-social {
	&.fd-ico-size {
		height:50px;
		width:50px;
	}
	&.twitter {
		background: $fd-ui-ico-twt;
		@extend .fd-ico-size;
	}	
	&.facebook {
		background: $fd-ui-ico-fbk;
		@extend .fd-ico-size;
	}
	&.google-plus {
		background: $fd-ui-ico-gpl;
		@extend .fd-ico-size;
	}
	&.github {
		background: $fd-ui-ico-ghb;
		@extend .fd-ico-size;
	}
	&.skype {
		@extend .fd-ico-size;
		background: $fd-ui-ico-skp;
	}
}

.clear {
	clear:both;
}

// AVATAR

.fd-utils-avatar {
	display:block;
	@include border-radius(1000px);
	border: 2px solid #FFFFFF;
	@include box-shadow(0 1px 2px 0 #333333 inset);
	margin-right:10px;
	float:left;
	&.default {
		background-position:-451px -3057px;
	}
	&.small {
		height:35px;
		width:35px;
	}
}


.cite {
	border-left: 4px solid #EEEEEE;
  color: #9A9A9A;
  display: block;
  font-style: italic;
  line-height: 22px;
  padding: 0 0 0 15px;
}

// .cite {
//     border-left: 4px solid #EEEEEE;
//     color: #9A9A9A;
//     display: block;
//     font-style: italic;
//     margin: 10px 20px;
//     padding: 0 0 0 15px;
//     width: 528px;
// }

.fd-ui-cst-btn {
	display:block;
	line-height: 23px;
	border: 1px solid #ccc;
	margin: 0 5px 0 0;
	&.common-style {
		color: $fd-ui-ft-col-blk2;
		background: $fd-ui-ft-col-blk5;
    @include border-radius(20px);
    padding: 0 10px;
    cursor:pointer;
    &:hover {
    	color: $fd-ui-ly-col-red;
    	background: $fd-ui-ft-col-blk4;
    }
	}
	&.tag-style {
		@extend .common-style;
	}
	&.tag {
		@extend .common-style;
		background: $fd-ui-ly-col-yel;
		&:hover {
    	color: $fd-ui-ft-col-blk2;
    	cursor: default;
    	background: $fd-ui-ly-col-yel;
    }
	}
}


// TEXT COLORS 

.orange {
	color: #FFA900 !important;
}

// AUDIO PLAYER

.fd-audio-player {
	background: $fd-ui-ico-player;
	display: inline-block;
  height: 50px;
  margin: 20px 56px;
  padding: 0 0 0 191px;
	.player {
		display: inline-block;
		border: 8px solid $fd-ui-ft-col-blk4;
		@include border-radius(4px);
		height:40px;
		@include box-shadow(0 1px 0px 0px #ddd);
	}
}