// ==========================
// UTILS
// ==========================


// Margin & padding 
//------------------

.no {
	&.m {
		margin: 			0px !important;
	}
	&.ml {
		margin-left: 	0px !important;
	}
	&.mr {
		margin-right: 0px !important;
	}
	&.md {
		margin-down: 	0px !important;
	}
	&.mu {
		margin-up: 		0px !important;
	}

	&.p {
		padding: 			0px !important;
	}
	&.pl {
		padding-left: 	0px !important;
	}
	&.pr {
		padding-right: 0px !important;
	}
	&.pd {
		padding-down: 	0px !important;
	}
	&.pu {
		padding-up: 		0px !important;
	}
}

.pd-20 {
	padding: 20px !important;
}
.pd-10-20 {
	padding: 10px 20px;
}
.pd-10-20-b {
	padding: 10px 20px !important;
}
.pd-40 {
	padding: 40px !important;
}
.pd-10 {
	padding: 10px !important;
}


// divider
.fd-divider-common {
	clear:both;
	display: block;	
}
.fd-divider-bottom {
	border-bottom: 1px solid $fd-ui-ly-col-gry;
	@include box-shadow(0 1px 0 0 $white);
	@extend .fd-divider-common;
}
.fd-divider-top {
	border-top: 1px solid $fd-ui-ly-col-gry;
	@include box-shadow(0 -1px 0 0 $white);
	@extend .fd-divider-common;
}

.fd-ui-icons {
	background:transparent $fd-ui-bg-sprite no-repeat !important;
	display:block;
	height:20px;
	width:20px;
	&.fd-ui-btn {
		cursor:pointer;
	}
	&.icon-more {
		background-position: 3px -131px !important;
    height: 24px;
    width: 20px;
    &:hover {
    	background-position: -37px -131px !important;
    }
	}
	&.icon-clip {
		background-position: -140px -173px !important ;//-86px -173px !important;
    height: 24px;
    width: 20px;
    &:hover {
    	background-position: -140px -173px !important;
    }
	}
}

.end {
	margin:0;
}



// SOCIALS 

.fd-social {
	&.fd-ico-size {
		height:50px;
		width:50px;
	}
	&.twitter {
		background: $fd-ui-ico-twt;
		@extend .fd-ico-size;
	}	
	&.facebook {
		background: $fd-ui-ico-fbk;
		@extend .fd-ico-size;
	}
	&.google-plus {
		background: $fd-ui-ico-gpl;
		@extend .fd-ico-size;
	}
	&.github {
		background: $fd-ui-ico-ghb;
		@extend .fd-ico-size;
	}
	&.skype {
		@extend .fd-ico-size;
		background: $fd-ui-ico-skp;
	}
}

.clear {
	clear:both;
}

// AVATAR

.fd-utils-avatar {
	display:block;
	@include border-radius(1000px);
	border: 2px solid #FFFFFF;
	@include box-shadow(0 1px 2px 0 #333333 inset);
	margin-right:10px;
	float:left;
	&.default {
		background-position:-451px -3057px;
	}
	&.small {
		height:35px;
		width:35px;
	}
}


.cite {
	border-left: 4px solid #EEEEEE;
  color: #9A9A9A;
  display: block;
  font-style: italic;
  margin: 10px 0;
  padding: 0 0 0 15px;
}