<% buttons ||= nil %>

<div id=""  class="fd-ui-tl-item-ct-el full-bg">
	<% buttons.each do | name, link, class | %>
		<a class="btn default" href="<%= link %>"><%= name %></a>
	<% end %>	
</div>	




