<header id="header" class="fd-ui-ct-header">
	<div id="logo" class="logo"></div>
	<div class="fd-hd-search-form">
		<form action="_ct-header_submit" method="get" accept-charset="utf-8">
			<input type="search" name="" value="" placeholder="What are you looking for?">		
		</form>
	</div>
	<a id="hire-me" class=""></a>
</header>


	

