<header id="header" class="fd-ui-ct-header">
	<%# 
	---------------------------------------   
		First-developer LOGO
	---------------------------------------
	%>
	<div id="logo" class="logo"></div>

	<%# 
	---------------------------------------   
		Search bar   
	---------------------------------------
	%>
	<div class="fd-hd-search-form">
		<form action="_ct-header_submit" method="get" accept-charset="utf-8">
			<input type="search" name="" value="" placeholder="What are you looking for?">		
		</form>
	</div>

	<%# 
	---------------------------------------   
		Hire me flyer
	---------------------------------------
	%>
	<a id="hire-me" class=""></a>
	
</header>


	

