    <!--  loading javascripts  -->
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
     <%= javascript_include_tag "jquery", "bootstrap", "application" %>
    <!--  /loading javascripts  -->
  
  </body>
</html>
