    
   
    <!--  loading javascripts  -->
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
     <%= javascript_include_tag :all %>
     <script type="text/javascript" src="http://use.typekit.com/kim3bqm.js"></script>
     <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <!--  /loading javascripts  -->
  
  </body>
</html>
