    
   <!-- Footer
	================================================== -->

	<footer id="footer" class="container">
	  <div class="row">
	    <div class="span4">
	      <div class="html5">
			    <a href="http://www.w3.org/html/logo/">
				    <img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-performance-semantics.png"
					     width="197" height="64" alt="HTML5 Powered with CSS3 / Styling, Performance &amp; Integration, and Semantics" 
					     title="HTML5 Powered with CSS3 / Styling, Performance &amp; Integration, and Semantics" />
			    </a>
		    </div>	
	    </div>
	    <div class="span8">
	      <nav class="sixteen columns">
			    <ul>
				    <li>
					    <a href="">A propos</a>
				    </li>
				    <li>
					    <a href="">Signalez</a>
				    </li>
				    <li>
					    <a href="">Lab</a>
				    </li>
				    <li>
					    <a href="">Contact</a>
				    </li>
				    <li>
					    <a href="">Mentions légales</a>
				    </li>
			    </ul>
		    </nav>
	    </div>
	    <div class="span4">
	      <p class="right">Copyright &COPY; <span class="text-mblack">First-<span class="text-red">developer</span></span></p>
	    </div>
	  </div>
	</footer>	
	
  <!--  loading javascripts  -->
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
   <%= javascript_include_tag :all %>
  <!--  /loading javascripts  -->

  </body>
</html>
