
<%= javascript_include_tag "application" %>
<script type="text/javascript">
	$(document).ready(function(){
		$("#contenu").scrollbar();
	});
	
</script>
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Gudea:400,700:latin', 'PT+Sans+Narrow:400,700:latin', 'Open+Sans:400,600,700,300:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
</body>
</html>
