<div id="menu_nav_bar" >
  <div class="container">
    <ul class="tabs row">
      <li class="active"><a href="#home">Programmation<span class="corner"></span></a></li>
      <li class=""><a href="#prog">Developpement Web<span class="corner"></span></a></li>
      <li class=""><a href="#os">OS<span class="corner"></span></a></li>
      <li class=""><a href="#mobile">Mobile<span class="corner"></span></a></li>
      <li class=""><a href="#ps">Graphisme<span class="corner"></span></a></li>
      <li class=""><a href="#mobile">Video<span class="corner"></span></a></li>
      <li class=""><a href="#home">Bureautique<span class="corner"></span></a></li>
      <li class=""><a href="#home">Autres<span class="corner"></span></a></li>
    </ul>
  </div>
   
  <div class="tabs-content">
    <div class="container">
      <div class=" row" id="prog">
        <ul class="tabs-content-list">
          <li><a>PHP/MySQL</a></li>
          <li><a>HTML/HTML5/CSS</a></li>
          <li><a>RubyOnRails</a></li>
        </ul>
      </div>
      <div class="active row" id="home">
        <ul class="tabs-content-list">
          <li><a>C</a></li>
          <li><a>Caml</a></li>
          <li><a>Java</a></li>
          <li><a>Ruby</a></li>
        </ul>
      </div>
      <div class=" row" id="ps">
        <ul class="tabs-content-list">
          <li><a>Photoshop</a></li>
          <li><a>Gimp</a></li>
        </ul>
      </div>
      <div class=" row" id="os">
        <ul class="tabs-content-list">
          <li><a>Windows</a></li>
          <li><a>Linux</a></li>
          <li><a>MacOx</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
