<div id="menu_nav_bar" >
  <div class="container">
    <ul class="tabs row">
      <li class="active"><a href="#home">Home<span class="corner"></span></a></li>
      <li class=""><a href="#home">Home<span class="corner"></span></a></li>
      <li class=""><a href="#home">Home<span class="corner"></span></a></li>
      <li class=""><a href="#home">Home<span class="corner"></span></a></li>
      <li class=""><a href="#home">Home<span class="corner"></span></a></li>
    </ul>
  </div>
   
  <div class="pill-content">
    <div class="active" id="home">...</div>
  </ul>
</div>
