<div id="menu_nav_bar" >
  <div class="container">
    <ul class="tabs row">
      <li class="active"><a href="#home">Developpement Web<span class="corner"></span></a></li>
      <li class=""><a href="#home">Programmation<span class="corner"></span></a></li>
      <li class=""><a href="#home">Graphisme<span class="corner"></span></a></li>
      <li class=""><a href="#home">Mobile<span class="corner"></span></a></li>
      <li class=""><a href="#home">Bureautique<span class="corner"></span></a></li>
      <li class=""><a href="#home">Autres<span class="corner"></span></a></li>
    </ul>
  </div>
   
  <div class="pill-content">
    <div class="container">
      <div class="active row" id="home">
        <ul class="pill-content-list">
          <li><a>PHP/MySQL</a></li>
          <li><a>HTML/HTML5/CSS</a></li>
          <li><a>RubyOnRails</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
