<% available ||= false %>

<div class="navbar navbar-fixed-top">

	<!--	NOTIFICATION AREA   -->
	
	<% flash.each do |key, msg| %>	
		<% unless flash[key].blank?  %>
		<div id="notification_area" class="fd-ui-flash-msg <%= key %>">
			<i class="flash-icon">
				<img src="<%= asset_path("ui/loader.gif"); %>" alt="">
			</i>
			<p><%= msg %> </p>
			<i class="flash-close">×</i>
		</div>
		<% end %>
	<% end %>

	<!-- 		NATIFICATION BAR  -->
	 
	<div class="navbar-inner">
		<div class="container-fluid">

			<!--   LOGO   -->
      <a id="logo" class="logo" href="/"></a>

			<!--    SEARCH BAR    -->
			<% if available %>
			<div class="fd-hd-search-form">
				<form action="_ct-header_submit" method="get" accept-charset="utf-8">
					<input type="search" name="" value="" placeholder="What are you looking for?">		
				</form>
			</div>
			<% end %>

			<!--     NAVIGATION BAR COLLAPSE    -->
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			<!--      MENU     -->
			<div class="nav-collapse">
				<!-- .nav, .navbar-search, .navbar-form, etc -->
				<ul class="nav pull-right">
					<li class="">
						<a href="#" id="hire-me">Hire me</a>
					</li>
					<li class="">
						<a href="#">+ Labs</a>
					</li>
					<li class="">
						<a href="#">Illustrations</a>
					</li>
					<li class="">
						<a href="#">About me</a>
					</li> 
					<li class="">
						<a href="#">Contact me</a>
					</li>
					<li class="divider-vertical no mr"></li>
					<li class="dropdown">
						<a data-toggle="dropdown" class="dropdown-toggle" href="#"></i> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Features</a></li>
							<li><a href="#">Support</a></li>
							<li><a href="#">Feedback</a></li>
							<li class="divider"></li>
							<li><a href="#">Help</a></li>
						</ul>
					</li>
				</ul>
			</div>
		
		</div>
	</div>
</div>
