%span.hide-sidebar-info.closed{:href => ""}
%aside#sidebar_infos
    %section.me.profile
      %span.avatar.big{:id => "", :style => "background-image:url(#{asset_path("ui/me.jpg");})"}
      .info
        %dl
          %dt
            %span.fst-txt Lionel
            LONKAP TSAMBA
          %dd Freelance developer
        %p
          %span.fst-txt Villeneuve d'ascq |
          %span.snd-txt FRANCE
    %section.me.about
      %h3.section-title About me?
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    %section.me.ntkw
      %h3.section-title Am i social?
      %ul{:id => ""}
        %li
          %a.fd-social.skype{:href => "", :title => "skype"}
        %li
          %a.fd-social.facebook{:href => "", :title => "skype"}
        %li
          %a.fd-social.google-plus{:href => "", :title => "skype"}
        %li
          %a.fd-social.twitter{:href => "", :title => "skype"}
        %li
          %a.fd-social.github{:href => "", :title => "skype"}
      / /
    %span.clear
    %section.me.skills
      %h3.section-title Skills?
      %ul.section-tags
        %li
          %span.meta 50%
          Programming
        %li
          %span.meta 50%
          Coding
        %li
          %span.meta 50%
          Webdesign/Photoshop
        %li
          %span.meta 50%
          Sport
        %li
          %span.meta 50%
          Inspiration
