<aside id="sidebar">
	<ul class="sidebar-menu">
		<li class="">
			<a href="#">Home<i class="icon-plus icon-white pull-right"></i></a>
			<ul class="sidebar-submenu">
					<li><a class=""><span class="count">15</span>jQuery</a></li>
					<li><a class=""><span class="count">12</span>Javascript</a></li>
					<li><a class=""><span class="count">50</span>Unix/linux</a></li>
					<li><a class=""><span class="count">33</span>HTML5/CSS3</a></li>
					<li><a class=""><span class="count">11</span>JAVA / J2EE</a></li>
				</ul>
		</li>
		<li class="">
			<a href="#">Home<i class="icon-plus icon-white pull-right"></i></a>
			<ul class="sidebar-submenu">
					<li><a class=""><span class="count">15</span>jQuery</a></li>
					<li><a class=""><span class="count">12</span>Javascript</a></li>
					<li><a class=""><span class="count">50</span>Unix/linux</a></li>
					<li><a class=""><span class="count">33</span>HTML5/CSS3</a></li>
					<li><a class=""><span class="count">11</span>JAVA / J2EE</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Library</a>
		</li>
	</ul>
</aside>