
<div class="fd_sidebar">
  <% 3.times do %>
    <%= render "layouts/section",
      :section_title => "informations", 
      :section_subtitle => "auteur", 
      :section_title_class => 'red',
      :section_subtitle_class => 'no-padding',
      :section_details => "details"
    %>
  <% end %>
</div>

