
<div class="fd_sidebar">
  <%
    details  = "In broad strokes, this involves deciding what should be sent as the response and calling an appropriate method to create that response. \nIf the response is a full-blown view, Rails also does some extra work to wrap the view in a layout and possibly to pull in partial views. You’ll see all of those paths later in this guide."
    details = simple_format(details)
    join_us = '<a href=""><span class="fd_join_us"></span></a>'
    follow  = '<span class="profile_image default width50"></span><div class ="fd_follow"><span class=" on space_right-1"></span><span class="fd_follow_action right on"></span></div>'
    follow = follow.html_safe
    contents = [
      {
        :section_subtitle => "Auteur du tutoriel",
        :section_details  => follow
      },
      {
        :section_subtitle => "Qui suis-je ?",
        :section_details  => truncate(details, :length =>100, :separator => '...')
      },
      {
        :section_subtitle => "Comptétences ",
        :section_details  => '<ul class="grippy-list"><li><span class="grippy-list-item">jQuery</span><div class="fd_skills_bar"><span class="fd_skills_indicator advanced"></span></div></li>
          <li><span class="grippy-list-item">Uix/linux </span><div class="fd_skills_bar"><span class="fd_skills_indicator beginner"></span></div></li>
          <li><span class="grippy-list-item">HTML5/CSS3</span><div class="fd_skills_bar"><span class="fd_skills_indicator intermediate"></span></div></li>
          </ul>'
      }
    ]
    style = "background: none repeat scroll 0 0 #DDDDDD; border: 1px solid #D0D0D0; box-shadow: 0 0 0 3px #FFFFFF inset; display: block; height: 200px; width: 100%;"
    pub = '<span style="' + style + '"></span>'.html_safe
  %>

  <%= render "layouts/section",
    :section_title => "informations", 
    :section_title_class => 'red',
    :section_subtitle_class => '',
    :with_divider => true,
    :section_content => contents
  %>
  
  <%# Social media %>
  <%= render "layouts/section",
    :section_title => "Partagez sur les réseaux sociaux ...", 
    :section_title_class => 'blue',
    :section_class => "no-list-style float-list",
    :section_subtitle_class => '',
    :with_divider => false,
    :section_content => [ { :section_details => render("shared/social_items") } ]
  %>
  
  <%# Join us %>
  <%= render "layouts/section",
    :section_title => "Qu'attendez-vous ?", 
    :section_title_class => 'red',
    :section_class => "no-list-style float-list",
    :section_subtitle_class => '',
    :with_divider => false,
    :section_content => [ { :section_details => join_us } ]
  %>
  
  <%# publicité media %>
  <%= render "layouts/section",
    :section_title => "Un peu de pub ?", 
    :section_title_class => 'yellow',
    :section_class => "no-list-style float-list",
    :section_subtitle_class => '',
    :with_divider => true,
    :section_content => [ { :section_details => pub },{ :section_details => pub },{ :section_details => pub } ]
  %>
  
  
  
</div>

