
<div class="fd_sidebar">
  <%
    details  = "In broad strokes, this involves deciding what should be sent as the response and calling an appropriate method to create that response. \nIf the response is a full-blown view, Rails also does some extra work to wrap the view in a layout and possibly to pull in partial views. You’ll see all of those paths later in this guide."
    details = simple_format(details)
  
    follow  = '<span class="profile_image default width50"></span><div class ="fd_follow"><span class=" on space_right-1"></span><span class="fd_follow_action right on"></span></div>'
    follow = follow.html_safe
    contents = [
      {
        :section_subtitle => "Auteur",
        :section_details  => follow
      },
      {
        :section_subtitle => "Description",
        :section_details  => truncate(details, :length =>100, :separator => '...')
      },
      {
        :section_subtitle => "Comptétences",
        :section_details  => '<ul class="checkmark"><li>jQuery<div class="fd_skills_bar"><span class="fd_skills_indicator advanced"></span></div></li>
          <li>Uix/linux <div class="fd_skills_bar"><span class="fd_skills_indicator beginner"></span></div></li>
          <li>HTML5/CSS3<div class="fd_skills_bar"><span class="fd_skills_indicator intermediate"></span></div></li>
          </ul>'
      }
    ]
  %>

  <%= render "layouts/section",
    :section_title => "informations", 
    :section_title_class => 'red',
    :section_subtitle_class => '',
    :section_content => contents
  %>
  
  <%# Social media %>
  <%= render "layouts/section",
    :section_title => "Partagez sur les réseaux sociaux ...", 
    :section_title_class => 'blue',
    :section_class => "no-list-style float-list",
    :section_subtitle_class => '',
    :section_content => [ { :section_details => render("shared/social_items") } ]
  %>
  
  
  
</div>

