<aside id="sidebar">
	<ul class="sidebar-menu">
		<li class="">
			<a href="#">Home<i class="icon-plus icon-white pull-right"></i></a>
			<ul class="sidebar-submenu">
					<li><a class="">jQuery</a></li>
					<li><a class="">Javascript</a></li>
					<li><a class="">Unix/linux</a></li>
					<li><a class="">HTML5/CSS3</a></li>
					<li><a class="">JAVA / J2EE</a></li>
				</ul>
		</li>
		<li class="">
			<a href="#">Home<i class="icon-plus icon-white pull-right"></i></a>
			<ul class="sidebar-submenu">
					<li><a class="">jQuery</a></li>
					<li><a class="">Javascript</a></li>
					<li><a class="">Unix/linux</a></li>
					<li><a class="">HTML5/CSS3</a></li>
					<li><a class="">JAVA / J2EE</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Library</a>
		</li>
	</ul>
</aside>