<% all_categories ||= Category.all %>

<span href="" class="hide-sidebar opened"></span>
<aside id="sidebar">
	<ul class="sidebar-menu">
		<li class="">
			<a href="#">BLOG</a>
			<ul class="sidebar-submenu">
				<% unless all_categories.blank? %>
				<% all_categories.each do |category| %>
				<%  unless (count = category.entries.size).zero? %>
				<li title="<%= category.name %>">
					<a class="">
						<span class="count"><%= count %></span>
						<%= category.name %>
					</a>
				</li>
				<% end %>
				<% end %>
				<% end %>
			</ul>
		</li>
	</ul>
</aside>

<%# <i class="icon-plus icon-white pull-right"></i> %>