<aside id="sidebar_infos">
	<section class="me profile ">
		<span id="" class="avatar big" style="background-image:url(<%= asset_path("ui/me.jpg"); %>)"></span>
		<div class="info">
			<dl>
				<dt><span class="fst-txt">Lionel</span> LONKAP TSAMBA</dt>
				<dd>Freelance developer</dd>
			</dl>
			<p><span class="fst-txt">Villeneuve d'ascq | </span><span class="snd-txt">FRANCE</span></p>
		</div>
	</section>

	<section class="me about">
		<h3 class="section-title">About me?</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
		</p>
	</section>

	<section class="me ntkw">
		<h3 class="section-title">Am i social?</h3>
		<ul id="" class="">
			<li><a href="" title="skype" class="fd-social skype"></a></li>
			<li><a href="" title="skype" class="fd-social facebook"></a></li>
			<li><a href="" title="skype" class="fd-social google-plus"></a></li>	
			<li><a href="" title="skype" class="fd-social twitter"></a></li>
			<li><a href="" title="skype" class="fd-social github"></a></li>
		</ul><!-- / -->
	</section>
	<span class="clear"></span>
	<section class="me skills">
		<h3 class="section-title">Skills?</h3>
		<ul class="section-tags">
			<li><span class="meta">50%	</span> Programming</li>
			<li><span class="meta">50%	</span> Coding</li>
			<li><span class="meta">50%  </span> Webdesign/Photoshop</li>
			<li><span class="meta">50%</span> Sport</li>
			<li><span class="meta">50%	</span> Inspiration</li>
		</ul>			
	</section>
</aside>