.fd-ui-tools{:id => ""}
  .btn-group{"data-toggle" => "buttons-radio"}
    = link_to_add_entry
    %button.btn
      %i.icon-eye-open
    %button.btn
      %i.icon-qrcode
    %button.btn
      %i.icon-cog
  .notifs
    %button.btn.default.disabled
      Notifications &nbsp;
      %span.btn.primary.count 0
