<div id="" class="fd-ui-tools">
	<div class="btn-group" data-toggle="buttons-radio">
		<%= link_to_add_entry %>
		<button class="btn"><i class="icon-eye-open"></i></button>
		<button class="btn"><i class="icon-qrcode"></i></button>
		<button class="btn"><i class="icon-cog"></i></button>
	</div>
	<div class="notifs">
		<button class="btn default disabled">Notifications &nbsp;<span class="btn primary count">0</span></button>
	</div>
</div>