<div class="topbar">
  <div class="fill">
    <div class="container">
      <form action="" class="pull-right">
        <input class="input-xxlarge xxlarge" type="text" placeholder="Rechercher">
      </form>
      
      <%# navigation user menu %>
      <ul class="nav">
        <li class=""><a href="#"><%= "suggestions".upcase %></a></li>
        <li><a href="#about"><%= "profil".upcase %></a></li>
        <li class="menu">
          <a href="#" class="menu" ><%= "compte  ".upcase %></a>
          <ul class="menu-dropdown">
            <li><a href="#">Secondary link</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Another link</a></li>
          </ul>
        </li>
      </ul>
      <%# / navigation user menu %>
      
    </div>
  </div>
</div>
