<div >
  <ul id="fd_user_status">
    <li class="span8">
      <span class="welcome_user">Bonjour, <span class="fd_red_txt bold">Lionel Tsamba</span></span>
      <span class="clear"></span>
      <span class="fd_credit"><span class="red large-corner-left"></span><span class="red large-bande">102</span></span>    
    </li>
    <li class="span1">
      <span class="red small-corner-r-u"></span>
      <a href="#" class="avatar"><img src="images/user-design.png" /></a>
    </li>
  </ul>
</div>
